.dndflow {
 
}

.dndflow aside {
  border: 1px solid rgb(209, 180, 180);
  padding: 1px 1px;
  font-size: 12px;
  background: #f3f7f6;
  height: 30px;
  width: 100vw;
  margin: 0 auto;
 
  display: flex;
  justify-content: space-around;
  
}


.dndflow aside > * {
  
  border-radius: 3px;
  width: 33vw;
  font-size: 18px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  /* margin-bottom: 10px; */
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
}



.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 95vh;
}
.react-flow__handle {
  pointer-events: none;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #555;
  border: 1px solid #fff;
  border-radius: 50%;
}
.react-flow__node-output {
  background: #fff;
  border-color: #ff0072;
  min-width: 250px;
  min-height: 50px;
  padding: 2px;
  border-radius: 3px;
  font-size: 17px;
  color: #222;
  cursor: grab;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  word-break: break-all;
}
.react-flow__node-input {
  background: #fff;
  border: 2px solid #36242c;
  min-width: 250px;
  min-height: 50px;
  padding: 5px;
  border-radius: 3px;
  font-size: 17px;
  color: #222;
  cursor: grab;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  word-break: break-all;
}
.react-flow__node-default {
  background: #fff;
  border: 2px dashed #2a4127;
  min-width: 250px;
  min-height: 50px;
  padding: 5px;
  border-radius: 3px;
  font-size: 17px;
  color: #222;
  cursor: grab;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  word-break: break-all;
}

.react-flow__edge {
  cursor: pointer;
  
}
